# Build results
bin/
obj/
out/
*.dll
*.exe
*.pdb
*.app
*.log
*.cache

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# Pastas de build (obj, Debug, Release)
**/obj/
**/Debug/
**/Release/

# Rider
.idea/
*.sln.iml

# Visual Studio (caso abra o projeto por lá também)
.vs/
*.user
*.suo
*.sln.docstates
*.userosscache

# OS-specific files
.DS_Store
Thumbs.db

# Database files
*.dbmdl
*.bak
*.sql

# DotCover and ReSharper
*.dotCover
*.resharper
_ReSharper*/
